* {
overflow: scroll;  //Change this to scroll or auto
margin: 0;
padding: 0;
}

#container{
    height:200px;
    width:200px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#container1{
    height:200px;
    width:200px;
    position:absolute;
    left:400;
    right:400;
    margin-left:auto;
    margin-right:auto;
}