<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./static/DnD.css">
</head>
	<body>
		<table>
			<tr>
				<th> </th>
				<th> </th>
			</tr>
			<tr>
				<td>
					<form class="form-inline" method="POST" action="{{ url_for('home') }}">
  						<div class="form-group">
    						<div class="input-group">
        						<span class="input-group-addon">Please select</span>
       								<select name = "maps">
								  		<option value="StarterSet_CragmawHideout_Player.jpg">Cragmaw Hideout</option>
								  		<option value="StarterSet_CragmawCastle_Player.jpg">Cragmaw Castle</option>
								  		<option value="StarterSet_NorthSwordCoast_Player.jpg">North Sword Coast</option>
					  					<option value="StarterSet_Phandalin_Player.jpg">Phandalin</option>
				  						<option value="StarterSet_RedbrandHideout_Player.jpg">Redbrand Hideout</option>
				  						<option value="StarterSet_RuinsofThundertree_Player.jpg">Ruins of Thundertree</option>
				  						<option value="StarterSet_WaveEchoCavern_Player.jpg">Wave Echo Cavern</option>
									</select>
    						</div>
    							<button type="submit" class="btn btn-default">Go</button>
  						</div>
  					</form>
  				</td>
  				<td>
					<form class="form-inline" method="POST" action="{{ url_for('home') }}">
  						<div class ="form-group">
    						<div class="input-group">
        						<span class="input-group-addon">Please select</span>
       								<select name = "tables">
							  			<option value="wep">Weapons</option>
							  			<option value="einkil">Einkil</option>
							  			<option value="verna">Verna</option>
							  			<option value="mei">Mei</option>
							  			<option value="salasar">Salasar</option>
							  			<option value="lyle">Lyle</option>
							  			<option value="galindann">Galindann</option>
									</select>
    						</div>
    							<button type="submit" class="btn btn-default">Go</button>
  						</div>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<img align ='left' src={{ img }} alt="StarterSet_CragmawHideout_Player" width={{ width }} height={{ height }}>
				</td>
				<td>
					<div align = 'right'>
						{{ table|safe }}
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>


